@import "ticketfly-css-core-variables";

:root {

  --common-ratio: 2;


  /**
   * 1) Set the "sm" value relative to
   * our base spacing unit
   *
   * 2) Backtrack initially to set values
   * less than "sm"
   *
   * 3) Move forward on the scale, deriving each
   * new value from the product of the previous
   * setting and the common ratio
   */

  /* 1 */
  --spacing-sm: calc(var(--base-spacing-unit));

  /* 2 */
  --spacing-xs: calc(
    var(--spacing-sm) /
    var(--common-ratio)
  );

  /* 3 */
  --spacing-md: calc(
    var(--spacing-sm) *
    var(--common-ratio)
  );

  --spacing-lg: calc(
    var(--spacing-md) *
    var(--common-ratio)
  );

  --spacing-xl: calc(
    var(--spacing-lg) *
    var(--common-ratio)
  );
}
