.c-grid {
  background-color: hsla(359, 79%, 55%, 1.00);
  color: var(--x-color-white);
}

.c-grid.c-grid--tall {
  height: 10rem;
}

.c-grid .c-grid__cell {

}

.c-grid-cell {
  position: relative;
  height: 5rem;
  background-color: transparent;
  z-index: 0;
}

.c-grid-cell::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(204, 75%, 12%, 0.80);
  border:  2px solid hsla(241.8, 67.2%, 79.6%, 1);
}
