/*
 * Legend:
 *
 *  p - padding
 *  t - top
 *  r - right
 *  b - bottom
 *  l - left
 *
 *  E.g. .u-pt2 = apply padding-top w/ spacing-2 value.
 */

.u-p0 { padding: 0 !important; }
.u-p1 { padding: var(--spacing-1) !important; }
.u-p2 { padding: var(--spacing-2) !important; }
.u-p3 { padding: var(--spacing-3) !important; }
.u-p4 { padding: var(--spacing-4) !important; }
.u-p5 { padding: var(--spacing-5) !important; }

.u-pt0 { padding-top: 0 !important; }
.u-pt1 { padding-top: var(--spacing-1) !important; }
.u-pt2 { padding-top: var(--spacing-2) !important; }
.u-pt3 { padding-top: var(--spacing-3) !important; }
.u-pt4 { padding-top: var(--spacing-4) !important; }
.u-pt5 { padding-top: var(--spacing-5) !important; }

.u-pr0 { padding-right: 0 !important; }
.u-pr1 { padding-right: var(--spacing-1) !important; }
.u-pr2 { padding-right: var(--spacing-2) !important; }
.u-pr3 { padding-right: var(--spacing-3) !important; }
.u-pr4 { padding-right: var(--spacing-4) !important; }
.u-pr5 { padding-right: var(--spacing-5) !important; }

.u-pb0 { padding-bottom: 0 !important; }
.u-pb1 { padding-bottom: var(--spacing-1) !important; }
.u-pb2 { padding-bottom: var(--spacing-2) !important; }
.u-pb3 { padding-bottom: var(--spacing-3) !important; }
.u-pb4 { padding-bottom: var(--spacing-4) !important; }
.u-pb5 { padding-bottom: var(--spacing-5) !important; }

.u-pl0 { padding-left: 0 !important; }
.u-pl1 { padding-left: var(--spacing-1) !important; }
.u-pl2 { padding-left: var(--spacing-2) !important; }
.u-pl3 { padding-left: var(--spacing-3) !important; }
.u-pl4 { padding-left: var(--spacing-4) !important; }
.u-pl5 { padding-left: var(--spacing-5) !important; }
