/*
 * Legend:
 *
 *  m - margin
 *  t - top
 *  r - right
 *  b - bottom
 *  l - left
 *
 *  E.g. .u-pt2 = apply padding-top w/ spacing-2 value.
 */
.u-m-auto { margin: auto !important; }
.u-m0 { margin: 0 !important; }
.u-m1 { margin: var(--spacing-1) !important; }
.u-m2 { margin: var(--spacing-2) !important; }
.u-m3 { margin: var(--spacing-3) !important; }
.u-m4 { margin: var(--spacing-4) !important; }
.u-m5 { margin: var(--spacing-5) !important; }

.u-mt-auto { margin-top: auto !important; }
.u-mt0 { margin-top: 0 !important; }
.u-mt1 { margin-top: var(--spacing-1) !important; }
.u-mt2 { margin-top: var(--spacing-2) !important; }
.u-mt3 { margin-top: var(--spacing-3) !important; }
.u-mt4 { margin-top: var(--spacing-4) !important; }
.u-mt5 { margin-top: var(--spacing-5) !important; }

.u-mr-auto { margin-right: auto !important; }
.u-mr0 { margin-right: 0 !important; }
.u-mr1 { margin-right: var(--spacing-1) !important; }
.u-mr2 { margin-right: var(--spacing-2) !important; }
.u-mr3 { margin-right: var(--spacing-3) !important; }
.u-mr4 { margin-right: var(--spacing-4) !important; }
.u-mr5 { margin-right: var(--spacing-5) !important; }

.u-mb-auto { margin-bottom: auto !important; }
.u-mb0 { margin-bottom: 0 !important; }
.u-mb1 { margin-bottom: var(--spacing-1) !important; }
.u-mb2 { margin-bottom: var(--spacing-2) !important; }
.u-mb3 { margin-bottom: var(--spacing-3) !important; }
.u-mb4 { margin-bottom: var(--spacing-4) !important; }
.u-mb5 { margin-bottom: var(--spacing-5) !important; }

.u-ml-auto { margin-left: auto !important; }
.u-ml0 { margin-left: 0 !important; }
.u-ml1 { margin-left: var(--spacing-1) !important; }
.u-ml2 { margin-left: var(--spacing-2) !important; }
.u-ml3 { margin-left: var(--spacing-3) !important; }
.u-ml4 { margin-left: var(--spacing-4) !important; }
.u-ml5 { margin-left: var(--spacing-5) !important; }
